[Unit]
Description=LAN3V2 live graphic script
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=python3 /usr/local/bin/live_graph.py

[Install]
WantedBy=multi-user.target
