[Unit]
Description=LAN3V2 main script
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=python3 /usr/local/bin/lan3v2.py

[Install]
WantedBy=multi-user.target
